@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: "black";
    /* overflow: hidden; */
}

.gradient-text {
    background: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-shadow {
    box-shadow: 0px 11px 400px 200px rgba(249,212,35,0.19);
    -webkit-box-shadow: 0px 11px 400px 200px rgba(249,212,35,0.19);
    -moz-box-shadow: 0px 11px 400px 200px rgba(249,212,35,0.19);
}

.scrollSnap{
    scroll-snap-align: start;
    scroll-snap-stop: always;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

}


.theContainer{
    scroll-snap-type: y mandatory;
}

.section{
    scroll-snap-align: start;
    scroll-snap-stop: always;
}
